data
train_logs
exp
eval_logs
.idea/
wandb/
videos/
vlm/FeatUp
kalm/configs/local_config.py
keypoint_files/**
!keypoint_files/*.npz
scripts/**
!scripts/*.py
!scripts/*.sh

*/.ipynb_checkpoint*
src/tmp_gptclient/

RLBench/
*.egg-info/

*__pycache_*
*.py[cod]
*$py.class
*.pth
*.pkl
*.npz
*.txt

*.log-????????
.vim*
